/* Body styles */
.Body{
    display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  font-size: 16px;
  background-image: url('C:\Users\harshvardhan\Desktop\Front end Project\LoginPortal\src\Components\assests\pexels-photo-533982.jpeg');
  background-size: cover;
}


body {
  background: linear-gradient(to bottom, #ffffff, #fdfdfd);
  color: #3c2b92;
  font-family: Arial, sans-serif;
  /* display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh; 
  font-size: 16px;
  background-image: url('C:\Users\harshvardhan\Desktop\Front end Project\LoginPortal\src\Components\assests\pexels-photo-533982.jpeg');
  background-repeat:no-repeat;
}

/* Header text styles */
h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  font-family:cursive;
}

/* Form styles */
form {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 500px;
  margin: auto;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Input styles */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Button styles */
button[type="submit"] {
  border-radius: 50px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Link styles */
a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.myDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
img{
  height:70%;
}