/* Body styles */
.Body {
  background-color: grey;
  height: 100vh;
}

/* Header text styles */
.welcomeTextStyles {
  text-align: center;
  font-weight: 900;
  flex-direction: column;
}

/* Header text div styles */
.headerTextDiv {
  margin-top: 100px;
  text-align: center;
}

/* Button text styles */
.buttonTextStyles {
  border-radius: 50px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  background-color: green;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.buttonTextStyles:hover {
  opacity: 1;
}

/* Input style text */
.inputstyleText {}

/* Link styles */
a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: red;
}

/* Input styles */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .welcomeTextStyles {
    font-size: 24px;
  }
}